<div class="jumbotron">
  Put Your name: <input ng-model="user.name" />
  <h1>Welcome, {{user.name}}!</h1>
  <p class="lead">
    <img src="https://scontent.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/10527598_874413169252968_3523357906198599550_n.jpg?oh=32fa27fdc621950bdfcca3308a330fec&oe=563E4FEE" alt="I'm kamn!"><br>
    We make best apps. But we don't know how we do it.
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="showAlertMessage('OK :-(')">Spadaj, Abre!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
